h1{
   background-color: lightblue;
}
h2 {
  text-decoration: line-through;
}
h3 {
  text-decoration: underline;
}
/*unvisited Link*/
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
table, th, td {
  border: 1px solid;
  border-style: solid;
  border-color: green;
}

tr.one{
	background-color: darkgreen;
}

p.one {
  border-style: solid;
  border-color: red;
}

p.two {
  border-style: solid;
  border-color: green;
} 

p.three {
  border-style: dotted;
  border-color: blue;
} 